@import "../../../style/scss/basestyle";

$color-primary: var(--color-primary);
$color-secondary: var(--color-secondary);
$color-tertiary: var(--color-tertiary);
$color-light: var(--color-light);
$color-dark: var(--color-dark);

.main__container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgba($color-primary, 1);
}

.layout__cointainer {
  display: flex;
}
